################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/E_CommerceSystem/bin/Debug/net8.0
